<div class="grid-container">
  <div class="header" [appHighlightText]="'total'">
    <h1 class="mat-h1">{{title}}</h1>
    <input placeholder="Enter Search Query"/>
  </div>
  <ng-container *ngIf="gridConfig$ | async as gridConfig">
    <ng-container *ngIf="dashboardConfig$ | async as dashboardConfig">
      <mat-grid-list [cols]="gridConfig.COLS" [rowHeight]="gridConfig.ROW_HEIGHT">
        <ng-container *ngIf="dashboardConfig.data; else loadingOrError">
          <ng-container *ngFor="let rowCards of dashboardConfig.data">
            <mat-grid-tile *ngFor="let card of rowCards" [colspan]="gridConfig[card.size].COLS" [rowspan]="gridConfig[card.size].ROWS">
              <app-card *ngIf="card.data" [title]="card.data.title" [appHighlightText]="'total'">
                <app-stat-card
                  *ngIf="card.type === 'STAT_CARD'"
                  [timeline]="card.data.timeline"
                  [value]="card.data.value"
                  [percentChange]="card.data.percentChange"
                  [previousStat]="card.data.previousStat"
                ></app-stat-card>
                <app-chart
                  *ngIf="card.type === 'CHART'"
                  [chartType]="card.data.chartType"
                  [chartData]="card.data.chartData"
                  [chartOptions]="card.data.chartOptions"
                  [chartPlugins]="card.data.chartPlugins"
                ></app-chart>
              </app-card>
            </mat-grid-tile>
          </ng-container>
        </ng-container>
        <ng-template #loadingOrError>
          <ng-container *ngIf="dashboardConfig.loading">
            Fetching data...
          </ng-container>
          <ng-container *ngIf="dashboardConfig.error">
            Something went wrong. Please try again.
          </ng-container>
        </ng-template>
      </mat-grid-list>
    </ng-container>
  </ng-container>
</div>
